<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/styles/index.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>
<body>
<header>
    <div th:replace="/fragments/header :: ul"></div>
</header>
<div class="col-auto">

    <h3 th:text="${'Welcome to RollHero ' + siteUser.username.substring(0,1).toUpperCase() + siteUser.username.substring(1)+'!'}"></h3>

    <p>image_placeholder</p>
    <hr>
    <div th:replace="/fragments/card :: section"></div>

</div>
</body>
</html>